@font-face {
  font-family: "iconfont"; /* Project id 5065137 */
  src: url('iconfont.woff2?t=1763085080640') format('woff2'),
       url('iconfont.woff?t=1763085080640') format('woff'),
       url('iconfont.ttf?t=1763085080640') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhangdan:before {
  content: "\e89e";
}

.icon-chatou1:before {
  content: "\e600";
}

.icon-shezhi:before {
  content: "\e7d7";
}

.icon-yibiaopan:before {
  content: "\e788";
}

.icon-dian:before {
  content: "\e69c";
}

.icon-water:before {
  content: "\e642";
}

.icon-ranqi:before {
  content: "\e8a3";
}

.icon-chatou:before {
  content: "\e7ef";
}

